/**
 * b-css-typography package
 */

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
}

/**
 * Font scale
 */
 .h1 { font-size: var(--h1); }
 .h2 { font-size: var(--h2); }
 .h3 { font-size: var(--h3); }
 .h4 { font-size: var(--h4); }
 .h5 { font-size: var(--h5); }
 .h6 { font-size: var(--h6); }

/**
 * Font weight
 */
.bold { font-weight: bold; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; }

/**
 * Font align
 */
@each $position in (l, center, r, justify) {
  .xs-text-a$(position) { text-align: $(position); }
}

@media (--breakpoint-sm) {
  @each $position in (l, center, r, justify) {
    .sm-text-a$(position) { text-align: $(position); }
  }
}

@media (--breakpoint-md) {
  @each $position in (l, center, r, justify) {
    .md-text-a$(position) { text-align: $(position); }
  }
}

@media (--breakpoint-lg) {
  @each $position in (l, center, r, justify) {
    .lg-text-a$(position) { text-align: $(position); }
  }
}
