:root {
  --darken-1: rgba(0,0,0,0.0625);
  --darken-2: rgba(0,0,0,0.125);
  --darken-3: rgba(0,0,0,0.25);
  --darken-4: rgba(0,0,0,0.5);

  --lighten-1: rgba(255,255,255,0.0625);
  --lighten-2: rgba(255,255,255,0.125);
  --lighten-3: rgba(255,255,255,0.25);
  --lighten-4: rgba(255,255,255,0.5);
}

/**
 * HOVER
 */
.hover-bg-darken-1:hover { background-color: var(--darken-1); }
.hover-bg-darken-2:hover { background-color: var(--darken-2); }
.hover-bg-darken-3:hover { background-color: var(--darken-3); }
.hover-bg-darken-4:hover { background-color: var(--darken-4); }

.hover-bg-lighten-1:hover { background-color: var(--darken-1); }
.hover-bg-lighten-2:hover { background-color: var(--darken-2); }
.hover-bg-lighten-3:hover { background-color: var(--darken-3); }
.hover-bg-lighten-4:hover { background-color: var(--darken-4); }

.hover-border-darken-1:hover { border-color: var(--darken-1); }
.hover-border-darken-2:hover { border-color: var(--darken-2); }
.hover-border-darken-3:hover { border-color: var(--darken-3); }
.hover-border-darken-4:hover { border-color: var(--darken-4); }

.hover-border-lighten-1:hover { border-color: var(--darken-1); }
.hover-border-lighten-2:hover { border-color: var(--darken-2); }
.hover-border-lighten-3:hover { border-color: var(--darken-3); }
.hover-border-lighten-4:hover { border-color: var(--darken-4); }

/**
 * FOCUS
 */
.focus-bg-darken-1:focus { background-color: var(--darken-1); }
.focus-bg-darken-2:focus { background-color: var(--darken-2); }
.focus-bg-darken-3:focus { background-color: var(--darken-3); }
.focus-bg-darken-4:focus { background-color: var(--darken-4); }

.focus-bg-lighten-1:focus { background-color: var(--darken-1); }
.focus-bg-lighten-2:focus { background-color: var(--darken-2); }
.focus-bg-lighten-3:focus { background-color: var(--darken-3); }
.focus-bg-lighten-4:focus { background-color: var(--darken-4); }

.focus-border-darken-1:focus { border-color: var(--darken-1); }
.focus-border-darken-2:focus { border-color: var(--darken-2); }
.focus-border-darken-3:focus { border-color: var(--darken-3); }
.focus-border-darken-4:focus { border-color: var(--darken-4); }

.focus-border-lighten-1:focus { border-color: var(--darken-1); }
.focus-border-lighten-2:focus { border-color: var(--darken-2); }
.focus-border-lighten-3:focus { border-color: var(--darken-3); }
.focus-border-lighten-4:focus { border-color: var(--darken-4); }

/**
 * ACTIVE
 */
.active-bg-darken-1:active { background-color: var(--darken-1); }
.active-bg-darken-2:active { background-color: var(--darken-2); }
.active-bg-darken-3:active { background-color: var(--darken-3); }
.active-bg-darken-4:active { background-color: var(--darken-4); }

.active-bg-lighten-1:active { background-color: var(--darken-1); }
.active-bg-lighten-2:active { background-color: var(--darken-2); }
.active-bg-lighten-3:active { background-color: var(--darken-3); }
.active-bg-lighten-4:active { background-color: var(--darken-4); }

.active-border-darken-1:active { border-color: var(--darken-1); }
.active-border-darken-2:active { border-color: var(--darken-2); }
.active-border-darken-3:active { border-color: var(--darken-3); }
.active-border-darken-4:active { border-color: var(--darken-4); }

.active-border-lighten-1:active { border-color: var(--darken-1); }
.active-border-lighten-2:active { border-color: var(--darken-2); }
.active-border-lighten-3:active { border-color: var(--darken-3); }
.active-border-lighten-4:active { border-color: var(--darken-4); }
