@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

/**
 * DISPLAY TYPES
 */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
.table { display: table; }
.table-cell { display: table-cell; }

/**
 * OVERFLOW TYPES
 */
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

/**
 * FLOATS
 */

@each $direction in (left, right, none) {
  .xs-float-$(direction) { float: $(direction); }
}

@media (--breakpoint-sm) {
  @each $direction in (left, right, none) {
    .sm-float-$(direction) { float: $(direction); }
  }
}

@media (--breakpoint-md) {
  @each $direction in (left, right, none) {
    .md-float-$(direction) { float: $(direction); }
  }
}

@media (--breakpoint-lg) {
  @each $direction in (left, right, none) {
    .lg-float-$(direction) { float: $(direction); }
  }
}
