/**
 * b-css flex package
 */

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

/**
 * Flex
 */
.xs-flex { display: flex; }

@media (--breakpoint-sm) {
  .sm-flex { display: flex; }
}

@media (--breakpoint-md) {
  .md-flex { display: flex; }
}

@media (--breakpoint-lg) {
  .lg-flex { display: flex; }
}

/**
 * Flex growth
 */
.flex-none { flex: none; }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-grow {
  flex: 1 0 auto;
  min-width: 0;
  min-height: 0;
}

/**
 * Flex direction
 */
.flex-column  { flex-direction: column; }
.flex-wrap    { flex-wrap: wrap; }

/**
 * Flex item align
 */
.flex-align-items-start { align-items: flex-start; }
.flex-align-items-end { align-items: flex-end; }
.flex-align-items-center { align-items: center; }
.flex-align-items-baseline { align-items: baseline; }
.flex-align-items-stretch { align-items: stretch; }

/**
 * Flex self align
 */
.flex-align-self-start { align-self: flex-start; }
.flex-align-self-end { align-self: flex-end; }
.flex-align-self-center { align-self: center; }
.flex-align-self-baseline { align-self: baseline; }
.flex-align-self-stretch { align-self: stretch; }

/**
 * Flex content align
 */
.flex-align-content-start { align-content: flex-start; }
.flex-align-content-end { align-content: flex-end; }
.flex-align-content-center { align-content: center; }
.flex-align-content-between { align-content: space-between; }
.flex-align-content-around { align-content: space-around; }
.flex-align-content-stretch { align-content: stretch; }

/**
 * Flex justify
 */
.flex-justify-start { justify-content: flex-start; }
.flex-justify-end { justify-content: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }
